#container {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

#box {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgb(18, 18, 18), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%)
}

.logo {
  align-self: center;
  margin: 32px 0 16px;
}

a {
  text-decoration: none;
}
